<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1>Find below the details of the Recipe which you asked for</h1>

	<dl>
			<dt>ID recipe:</dt>
			<dd th:text="${Recipe.entityId}"></dd>
			<dt>Title:</dt>
			<dd th:text="${Recipe.title}"></dd>
			<dt>likes number:</dt>
			<dd th:text="${Recipe.likesNumber}"></dd>
			<dt>description</dt>
			<dd th:text="${Recipe.description}"></dd>
			<dt>author</dt>
			<dd th:text="${Recipe.author}"></dd>
			<dt>state:</dt>
			<dd th:text="${Recipe.state}"></dd>
			<dt>Photo:</dt>
			<dd><img th:src="${Recipe.photo}"/></dd>
	</dl>
	
	<form method="post"  th:action="@{/ui/like/}">
		<table>
			<tr><td></td><td><input type="submit" value="I like it" /></td></tr>
			<tr><td></td><td><input type="hidden" th:value="${Recipe.entityId}" name="id"/></td></tr>
		</table>
	</form>

	<div style="height: 2cm">&nbsp;</div>
<!--  
	<div style="text-align: right">
		Options: <a th:href="@{/}">Home</a> | <a
			th:href="@{/accounts/search}">Account Search</a>
	</div>
-->
	<div th:replace="footer :: copy"></div>
</body>
</html>
