<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1>Find below the details of the Recipe which you asked for</h1>

	<dl>
		<!--  	<dt>ID Customer:</dt>
			<dd th:text="${Customer.entityId}"></dd>    -->
			<dt>email:</dt>
			<dd th:text="${Customer.email}"></dd>
	
			<dt>firstName</dt>
			<dd th:text="${Customer.firstName}"></dd>
			<dt>secondtName</dt>
			<dd th:text="${Customer.secondName}"></dd>
			<dt>state:</dt>
			<dd th:text="${Customer.state}"></dd>
	</dl>
	

	<div style="height: 2cm">&nbsp;</div>

	<div th:replace="footer :: copy"></div>
</body>
</html>